.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Content-Body {
  flex: 1;
  display: flex;
  background-color: var(--color-layout-background);
  overflow-y: scroll; /* 仅允许垂直滚动 */
  overflow-x: hidden; /* 禁止水平滚动 */
  flex-direction: column;

  .Content-Container {
    margin: 15px;
  }
}

.TabNavBottom {
  flex: 0;
}

.LoadingWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--adm-color-primary);
}
